@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-bgImg-container {
  height: 100vh;
  width: 100%;
  background: url("https://media.istockphoto.com/photos/close-up-back-rear-behind-photo-handsome-he-him-his-guy-typing-it-picture-id1163541604?k=20&m=1163541604&s=612x612&w=0&h=QFDdpqVn_D9mH4lVNnP-_IHCR6efdGSANt6G9oXrF1I=");
  background-position: center center;
  background-size: cover;
}

.home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.home__name {
  font-size: 5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #f2f2f2;
}
.home__name--last {
  color: #8c2323;
  font-weight: 600;
}

.about-bgImg-container {
  height: 80vh;
  width: 100%;
  background: url("https://media.istockphoto.com/photos/close-up-back-rear-behind-photo-handsome-he-him-his-guy-typing-it-picture-id1163541604?k=20&m=1163541604&s=612x612&w=0&h=QFDdpqVn_D9mH4lVNnP-_IHCR6efdGSANt6G9oXrF1I=");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.about-bgImg-container .about__bio-image {
  text-align: center;
  width: 85vw;
  margin: 0 auto;
}
.about-bgImg-container .about__bio-image h2 {
  font-size: 3rem;
  color: #8c2323;
}
.about-bgImg-container .about__bio-image p {
  font-size: 1.2rem;
  margin: 2rem;
}

.about {
  width: 75vw;
  margin: 2rem auto;
}
.about .about__job {
  padding: 1rem;
  border-bottom: 5px solid #8c2323;
  background: #5a5a5a;
}
.about .about__job h2,
.about .about__job h3 {
  margin: 0.5rem 0;
}
.about .about__job h6 {
  margin: 0.3rem 0;
}

.link-style a, footer.vertical .social-icons a, footer.horizontal a {
  padding: 0.4rem;
  transition: all 1s;
}
.link-style a:hover, footer.vertical .social-icons a:hover, footer.horizontal a:hover {
  color: #8c2323;
  transform: scale(2);
}

footer.horizontal {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  margin-bottom: 1rem;
}

footer.vertical {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  margin-bottom: 1rem;
}
footer.vertical .social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
}
footer.vertical .copyright {
  position: fixed;
  bottom: 1rem;
  right: 3rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.nav {
  padding: 1rem;
  height: 10vh;
}
.nav__list {
  text-align: right;
}
.nav__item {
  display: inline;
  padding: 1.5rem;
}
.nav__link {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 1s;
}
.nav__link:hover {
  color: #c43535;
}
.nav__link--active {
  color: #8c2323;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  color: #f2f2f2;
  background-color: #272727;
  height: 90vh;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

h1,
h2,
h3 {
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
