$primary-color: #272727;
$secondary-color: #8c2323;
$text-color: #f2f2f2;

$main-bgImage-path: "https://media.istockphoto.com/photos/close-up-back-rear-behind-photo-handsome-he-him-his-guy-typing-it-picture-id1163541604?k=20&m=1163541604&s=612x612&w=0&h=QFDdpqVn_D9mH4lVNnP-_IHCR6efdGSANt6G9oXrF1I=";
$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
