@import "../../sass/mixins", "../../sass/varibles";
.navbar {
  background-color: $DarkGrey;
  display: flex;
  justify-content: space-evenly;
  a {
    color: $lightPink;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2rem;
    font-weight: 1000;

    &:hover {
      background-color: $Grey;
      color: $DarkGrey;
    }
  }
}
@include media-xsm {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
}
@include media-sm {
  .navbar {
    flex-direction: row;
  }
}
