.navbar {
    background-color: #A6032F
}
.homeImage {
    background-image: url('../images/pizzaback.jpg');
    height: calc(100vh - 106px);
    background-size: cover;
    background-position: center;
}

#warning {
    margin-top: 1px;
    background-color: #8C0303;
    color: #568B20;
    margin: auto;
    height: 40px;
    text-align: center;
}

#success {
    margin-top: 1px;
    background-color: #568B20 ;
    color: #8C0303;
    margin: auto;
    height: 40px;
    text-align: center;
}