@import "../../sass/varibles";
.social-icons {
  a {
    transition: all (1s);
    color: black;
    margin-left: 10px;

    &:hover {
      color: $Pink;
      transform: scale(2);
    }
  }
}
footer.horizontal {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3rem;
  margin-bottom: 1rem;
  .social-icons {
    display: flex;
  }
}
